<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Lateetud.NServiceBus.Subscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <appSettings>
    <add key="Persistence.Subscriptions.CacheFor" value="1" />

  </appSettings>
  <connectionStrings>
    <!--for deployment in staging for master branch -->
    <add name="NECGeneralAgentEntities" connectionString="metadata=res://*/NECEntities.csdl|res://*/NECEntities.ssdl|res://*/NECEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=NECGeneralAgent;persist security info=True;user id=sa;password=Password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlPersistence" connectionString="Data Source=.\SqlExpress;Initial Catalog=TestMsmqDB;UID=sa;Password=Password123;Integrated Security=True" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <Lateetud.NServiceBus.Subscriber.Properties.Settings>
      <setting name="Lateetud_NServiceBus_Subscriber_CenturySuretyProcess1_CenturysuretyProcessService"
        serializeAs="String">
        <value>http://RIPANPC:8181/ws/CenturysuretyProcess</value>
      </setting>
    </Lateetud.NServiceBus.Subscriber.Properties.Settings>
  </applicationSettings>
</configuration>